<html><head><title>Datos Importantes</title>
</head><body><h1>Datos con Cifras</h1><ul><li>ENERO A JUNIO 2022</li><li>402

</li><li>3</li><li>399</li><li>47,26%</li><li>TOP 10</li>
<li>Cundinamarca 42 10,44 %</li><li>Antioquía 34 8,5 %</li>
<li>Tolima 21 5,3 %</li><li>Casanare 13 3,3 %</li><li>Valle del Cauca 13 3,3 %</li>
<li>Santander 11 2,8 %</li><li>Meta 10 2,5 %</li><li>Arauca 7 1,8 %</li><li>Atlántico 7 1,8 %</li>
<li>Huila 6 1,5 %</li><li>85</li><li>1 Villa de Leyva 12,55%</li><li>2 Tunja 9,83%</li>
<li>3 Paipa 9,11%</li><li>4 Aquitania 8,18%</li><li>5 Sogamoso 6,38%</li>
<li>6 Duitama 5,67%</li><li>7 Iza 5,02%</li><li>8 Ráquira 4,38%</li>
<li>9 Tota 4,30%</li><li>10 Nobsa 3,87%</li><li>11 Cuítiva 3,16%</li>
<li>12 Monguí 3,08%</li><li>13 Tibasosa 2,94%</li><li>14 Ventaquemada 2,15%</li>
<li>15 Sáchica 1,79%</li><li>66,92% registrada el</li><li>12,94 % de los turistas</li>
<li>2,99 % turística. HOTEL</li><li>1,49 %</li><li>1,00 %</li><li>1,24 %</li><li>34,83%</li>
<li>17,16% 17,66% 15,17% 7,46% 7,46%</li><li>2 NOCHES</li><li>3 PASA 1 4 MAS 5</li><li>47,67%</li>
<li>78,61%</li><li>10,45%</li><li>5,22%</li><li>4,48%</li><li>0,75%</li><li>$ 300.000</li>
<li>$ 600.000 $ 300.000 departamento.</li><li>$ 1.000.000</li><li>$ 3.000.000</li><li>$ 600.000</li>
<li>$ 1.000.000 $ 3.000.000</li><li>27,61% 30,85% 9,45% 30,10% 1,74%</li><li>37,93%</li>
<li>20,49%</li><li>33,27%</li><li>3,65%</li><li>Medios de 1,22%</li><li>1,83%</li><li>1,62%</li>
<li>10</li><li>9</li><li>8</li></ul></body></html>