<html><head><title>Datos Importantes</title>
</head><body><h1>Los 10 Datos Más Importantes</h1>
    <ul><li>Departamentos</li>
        <li>Áreas protegidas</li>
        <li>Territorios indígenas</li>
        <li>Zonotrichia capensis(7.733)</li>
        <li>Tyrannus melancholicus(7.441)</li>
        <li>Turdus fuscater(7.267)</li><li>Coragyps atratus(5.683)</li>
        <li>Troglodytes aedon(5.329)</li><li>Campomanesia lineatifolia(2.663)</li>
        <li>Vaccinium meridionale(2.402)</li></ul></body></html>