<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for ('static',filename='css/styleMain.css')}}">
    <link rel="stylesheet" href="{{url_for ('static',filename='css/style1.css')}}">
    <link rel="stylesheet" href="{{url_for ('static',filename='css/footer.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    
  <header class="menu">
    <ul>
        <li><a href="{{url_for ('ir_a_Nabr')}}">Inicio</a></li>
        <li><a href="{{url_for ('ir_a_flora')}}">Flora</a></li>
        <li><a href="{{url_for ('ir_a_fauna')}}">Fauna</a></li>
        <li><a href="{{url_for ('ir_a_protege')}}">Protege</a></li>
        <li><a href="{{url_for ('ir_a_map')}}">Mapas</a></li>
        <li><a href="{{url_for ('ir_a_informacion')}}">Mas Informacion</a></li>
        <li><a href="{{url_for ('ir_a_estadistica')}}">Estadisticas</a></li>
    </ul>
</header>
</html><main>
<section id="fauna">
    <div class="container">
    <h1 class="titulo">FAUNA</h1> <br>
    <marquee>
    <h2> "Fauna de Boyacá y Cundinamarca: una diversidad sin límites"</h2> <br>
</marquee>

        <div class="card-deck">
            <div class="card">

              <img class="card-img-top img-pequena" src="{{url_for('static',filename='imagenes/escudos/fauna/ave03.webp')}}" alt="Ave Capuchiazul">
              <div class="card-body">
                <h5 class="card-title">Tángara Capuchiazul</h5>
                <p class="card-text">Tangara pequeña y llamativa, se ve mayormente negra con la cabeza azul brillante y el hombro beige. Sexos iguales. Más parecida a Masked Tanager, pero tiene el vientre oscuro (no blanco) y el hombro beige.
                     Muy común en las estribaciones andinas, con una población discontinua en las tierras bajas brasileñas.</p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top img-pequena" src="{{url_for ('static',filename='imagenes/escudos/Fauna/Ave.webp')}}" alt="AveAmarilla">
              <div class="card-body">
                <h5 class="card-title">Euphonia laniirostris</h5>
                <p class="card-text">Vive en el bosque de galería, en el borde del bosque húmedo de áreas estacionalmente inundables y en áreas abiertas arboladas, por debajo de los 1.200 m de altitud.​ También se puede ver en ambientes urbanos y semiurbanos.</p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top img-pequena" src="{{url_for ('static',filename='imagenes/escudos/Fauna/Ave01.webp')}}" alt="chipe">
              <div class="card-body">
                <h5 class="card-title">El chipe azul olivo tropical</h5>
                <p class="card-text"> Es confiado, inquieto, recorredor. Posee un trino muy
                     agudo que sube y desciende. Tiene cola corta. Posee el dorso azulado con la espalda 
                     oliva. Color blanco en timoneras externas y en cubiertas. Ventral amarillo 
                    oro, anaranjado en pecho. Habita en los 
                    estratos altos y medios de selvas, bosques y arboledas..</p>
              </div>
            </div>
          </div>
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top img-pequena" src="{{url_for ('static',filename='imagenes/escudos/Fauna/oso.jpeg')}}" alt="Oso de anteojos">
              <div class="card-body">
                <h5 class="card-title">Oso de anteojos</h5>
                <p class="card-text">El oso de anteojos, también llamado como
                     Oso de antifaz, oso andino, u oso de cara corta andino,​ es una especie de mamífero 
                     omnívoro de la familia Ursidae,
                     nativa de las montañas de los Andes de Sudamérica.
                     ​ Es la única especie existente de su género.</p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top img-pequena" src="{{url_for ('static',filename='imagenes/escudos/Fauna/venado.jpeg')}}" alt="venado">
              <div class="card-body">
                <h5 class="card-title">Venado</h5>
                <p class="card-text">En Boyacá el Venado cola blanca, habita en zonas de
                     páramo y bosque altoandino, especialmente en los Parques Naturales
                     
                     Regionales Siscunsí – Ocetá (Mongua, Monguí, Sogamoso y Aquitania), PNR Cortadera (Toca, Pesca y Siachoque), P
                    NR El Consuelo (Belén, Cerinza, Tutazá y Santa Rosa de Viterbo) y en los Parques Nacionales .</p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top img-pequena" src="{{url_for ('static',filename='imagenes/escudos/Fauna/zarigueya.jpeg')}}" alt="zarigüeya">
              <div class="card-body">
                <h5 class="card-title">zarigüeya</h5>
               <p class="card-text">TLa zarigüeya (Didelphis marsupialis) es un mamífero omnívoro. Conocida como chucha, runcho o fara, este animal habita cerca de ríos, humedales,
                 basureros, zonas verdes y viviendas. Este espécimen 
                 es un marsupial pariente de canguros y koalas.</p>
              </div>
            </div>
            <div class="card-deck">
                <div class="card">
                  <img class="card-img-top img-pequena" src="{{url_for ('static',filename='imagenes/escudos/Fauna/ArañaPlateada.jpg')}}" alt="Araña Plateada">
                  <div class="card-body">
                    <h5 class="card-title">Araña Plateada</h5>
                    <p class="card-text">La Argiope Argentata, conocida también como araña plateada
                         de jardín o araña tigre es una araña araneomorfa de la familia Areneidae. Principales 
                        características observadas: -Suele encontrarse en los jardines.
                         -Su presencia predomina durante el verano.</p>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top img-pequena" src="{{url_for ('static',filename='imagenes/escudos/Fauna/Marquita.jpg')}}" alt="Mariquita">
                  <div class="card-body">
                    <h5 class="card-title">Mariquita</h5>
                    <p class="card-text">Las mariquitas, vaquitas de San Antonio o catarinas son una familia
                         de insectos coleópteros de la superfamilia Cucujoidea. 
                         Tienen el cuerpo redondeado y con frecuencia coloraciones brillantes,
                         la coloración presenta alta variabilidad
                          intraespecífica, controlada por cambios en un solo gen</p>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top img-pequena" src="{{url_for ('static',filename='imagenes/escudos/Fauna/NerdaNoris.jpg')}}" alt="Mariquita Amarilla">
                  <div class="card-body">
                    <h5 class="card-title">Mariquita Amarilla</h5>
                    <p class="card-text">Con su simetría distintiva y su color brillante,
                         la mariquita amarilla se ha convertido en un símbolo de buena suerte,
                          protección, prosperidad, renovación, conexión divina,
                         inspiración, equilibrio y protección del medio ambiente
                          en diferentes tradiciones y creencias.</p>
                  </div>
                </div>
              </div>
              <div class="card-deck">
                <div class="card">
                  
                  <img class="card-img-top img-pequena" src="{{url_for ('static',filename='imagenes/escudos/Fauna/SerpienteSabanera.jpeg')}}" alt="Serpiente Sabanera">
                  <div class="card-body">
                    <h5 class="card-title">Serpiente Sabanera</h5>
                    <p class="card-text">La serpiente tierrera o serpiente sabanera
                         es una especie de serpiente no venenosa 
                        de la familia Colubridae. Es endémica​ de Colombia,
                         de clima frío, inofensiva, de hasta 70 cm de longitud.</p>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top img-pequena" src="{{url_for ('static',filename='imagenes/escudos/Fauna/RanaSabanera.jpeg')}}" alt="Rana Sabanera">
                  <div class="card-body">
                    <h5 class="card-title">Rana Sabanera</h5>
                    <p class="card-text">La rana sabanera o rana andina [ antes conocida como Dendropsophus labialis] 
                        es una especie de anfibio anuro que vive en Colombia,
                         en la Cordillera Oriental de los Andes entre
                          los 2.400 y 3.200 m de altitud. Mide entre 4 y 7 cm de longitud..</p>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top img-pequena" src="{{url_for ('static',filename='imagenes/escudos/Fauna/SapoGigante.jpeg')}}" alt="Sapo Gigante">
                  <div class="card-body">
                    <h5 class="card-title">Sapo Gigante</h5>
                   <p class="card-text">El sapo gigante o sapo de caña ​ también 
                    conocido como sapo neotropical gigante o sapo marino, es una
                     especie de anfibio anuro de la familia Bufonidae.
                      Este anfibio tiene grandes glándulas venenosas; 
                    los adultos y renacuajos al ser ingeridos son
                     altamente tóxicos para la mayoría de los animales</p>
            </section>  
            <div class="footer">
              <p>&copy; 2024 Mi Página. Todos los derechos reservados.</p>
              <p>
                  <a href="https://github.com/settings/profile">Heidy Yohana Saavedra</a> |
                  <a href="#">Contacto</a>
              </p>
          </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>