<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for ('static',filename='css/styleMain.css')}}">
    <link rel="stylesheet" href="{{url_for ('static',filename='css/style1.css')}}">
    <link rel="stylesheet" href="{{url_for ('static',filename='css/footer.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    
  <header class="menu">
    <ul>
        <li><a href="{{url_for ('ir_a_Nabr')}}">Inicio</a></li>
        <li><a href="{{url_for ('ir_a_flora')}}">Flora</a></li>
        <li><a href="{{url_for ('ir_a_fauna')}}">Fauna</a></li>
        <li><a href="{{url_for ('ir_a_protege')}}">Protege</a></li>
        <li><a href="{{url_for ('ir_a_map')}}">Mapas</a></li>
        <li><a href="{{url_for ('ir_a_informacion')}}">Mas Informacion</a></li>
        <li><a href="{{url_for ('ir_a_estadistica')}}">Estadisticas</a></li>
        
    </ul>
</header>
</html>
<main>
            <section id="Flora">
              <div class="container">
              <h1 class="titulo">FLORA</h1> <br>
              <marquee>
              <h2> "Flora de Boyacá y Cundinamarca: una diversidad sin límites"</h2> <br>
            </marquee>    
            <ul>
              {% for planta in flora %}
                  <li>{{ planta }}</li>
              {% endfor %}
          </ul>
              <div class="card-deck">
                      <div class="card">
                        <img class="card-img-top img-pequena" src="{{url_for ('static',filename='imagenes/escudos/Flora/Flor01.jpg')}}" alt="Asteraceae">
                        <div class="card-body">
                          <h5 class="card-title">Asteraceae</h5>
                          <p class="card-text">Las plantas de la familia de las compuestas (también conocidas como asteráceas) tienen una relevancia significativa tanto desde el punto de vista ecológico como económico. Estos miembros se encuentran distribuidos en una amplia gama de hábitats, desde las regiones polares hasta los trópicos. Sorprendentemente, han logrado colonizar prácticamente todos los rincones disponibles: desde desiertos hasta pantanos, y desde selvas hasta las cimas de montañas.</p>
                        </div>
                      </div>
                      <div class="card">
                        <img class="card-img-top img-pequena" src="{{url_for ('static',filename='imagenes/escudos/Flora/Frailejon01.jpg')}}" alt="Frailejon">
                        <div class="card-body">
                          <h5 class="card-title">Espeletia (Frailejon)</h5>
                          <p class="card-text">Los frailejones, plantas que habitan en las alturas andinas, presentan adaptaciones notables. Tienen un tronco grueso, hojas suculentas y velludas dispuestas en una roseta en la parte superior del tallo. A diferencia de otras plantas, las hojas muertas no caen, sino que permanecen protegiendo el tronco. Estas adaptaciones se deben al clima extremo de las montañas: frío, alta radiación UV, estacionalidad y escasez de agua. En los páramos, los frailejones cumplen una función vital al retener agua a través de la condensación de neblinas y fijarla al suelo por capilaridad. Además, crecen solo un centímetro al año.</p>
                        </div>
                      </div>
                      <div class="card">
                        <img class="card-img-top img-pequena" src="{{url_for ('static',filename='imagenes/escudos/Flora/Abarco.JPG')}}" alt="Abarco">
                        <div class="card-body">
                          <h5 class="card-title">Abarco</h5>
                          <p class="card-text"> El abarco es un árbol que alcanza unos 25 metros de altura. Sus hojas son simples, alternas, con bordes aserrados y extremo puntiagudo; tienen forma elíptica y miden hasta 12 cm de largo por 5 cm de ancho. Su fruto es comestible, de forma oblonga y color marrón, con una longitud de 8 a 9 cm.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card-deck">
                      <div class="card">
                        <img class="card-img-top img-pequena" src="{{url_for ('static',filename='imagenes/escudos/Flora/Swietenia.jpg')}}" alt="Swietenia">
                        <div class="card-body">
                          <h5 class="card-title">Swietenia macrophylla</h5>
                          <p class="card-text">El abarco es un árbol que vive en altitudes entre 0 y 1500 metros sobre el nivel del mar. Prefiere temperaturas que oscilan entre 25 °C y 39 °C, y necesita precipitaciones anuales de 2200 a 5000 mm. Crece en suelos profundos, no drenados, con textura franco arcillosa o franco arenosa. Además, tolera ligeramente la alcalinidad y prefiere la luz, aunque en su juventud puede crecer en sombra debido a la competencia con otros árboles más grandes. Con el tiempo, alcanza una altura suficiente para destacar entre sus vecinos arbóreos.</p>
                        </div>
                      </div>
                      <div class="card">
                        <img class="card-img-top img-pequena" src="{{url_for ('static',filename='imagenes/escudos/Flora/Arbol.jpg')}}" alt="chicalá">
                        <div class="card-body">
                          <h5 class="card-title">Chicalá</h5>
                          <p class="card-text">El Tecoma stans, perteneciente a la familia Bignoniaceae, es un árbol nativo de América tropical y Norte América. Alcanza una altura máxima de 8 metros y tiene un diámetro de tronco de 15 centímetros. Sus hojas miden 25 cm de largo por 15 cm de ancho, con bordes aserrados y terminan en punta. Las flores, de forma tubular-campanulada, tienen un diámetro de 3 cm y atraen a la fauna, especialmente aves. Es una especie de rápido crecimiento, con una longevidad media de 36 a 60 años. Se utiliza como cerca viva, con fines ornamentales y como alimento para la fauna. </p>
                        </div>
                      </div>
                      <div class="card">
                        <img class="card-img-top img-pequena" src="{{url_for ('static',filename='imagenes/escudos/Flora/Arbol02.jpeg')}}" alt="Aspidosperma">
                        <div class="card-body">
                          <h5 class="card-title">Aspidosperma polyneuron</h5>
                         <p class="card-text">Aspidosperma polyneuron conocido popularmente con los nombres de palo rosa, perobá, peroba, peroba común, peroba rosa, ybirá romí, ybyra ro'mi etc., es un árbol maderable nativo del extremo NEA de Argentina, Brasil, Paraguay; típico del bosque atlántico. Además es muy usado en apicultura como especie melífera.
    
                          Florece de septiembre a noviembre, fructifica de octubre a noviembre; y se cosechan las semillas de noviembre a diciembre. En 1 kg de semilla/8.000 a 10 000 semillas.</p>
                        </div>
                      </div>
                      <div class="card-deck">
                          <div class="card">
                            <img class="card-img-top img-pequena" src="{{url_for ('static',filename='imagenes/escudos/Flora/Arbol03.jpg')}}" alt="Guayacan">
                            <div class="card-body">
                              <h5 class="card-title">Guayacan (Gauiacum officinale)</h5>
                              <p class="card-text">Es un árbol perenne de lento crecimiento que alcanza 5-20 metros de altura con la copa redondeada, muy frondosa.4​ El tronco resquebrajado provee el verdadero lignum vitae, una madera muy dura. Tiene hojas opuestas y nervadas, pinnadas con tres pares de foliolos sésiles.4​5​ Las flores son solitarias de color azul claro o violeta agrupándose en pedúnculos axilares.5​6​ Tiene cinco pétalos tres veces más grandes que los sépalos.5​4​ El fruto es una cápsula seca de color verde que contiene las semillas.</p>
                            </div>
                          </div>
                          <div class="card">
                            <img class="card-img-top img-pequena" src="{{url_for ('static',filename='imagenes/escudos/Flora/Alcaparro.jpg')}}" alt="Senna">
                            <div class="card-body">
                              <h5 class="card-title">Senna viarum</h5>
                              <p class="card-text">Es uno de los árboles con floración más atractiva en los climas fríos de Colombia y Ecuador. Su altura máxima reportada es de 15 m y el diámetro máximo del tronco a la altura del pecho es de 25 cm. Su tronco es torcido e irregular y su corteza lisa. Su copa de forma arqueada y es amplia.
    
                                Las hojas son alternas, elípticas, opuestas, borde entero y nerviación pronunciada, miden 20 cm de largo por 12 cm de ancho. El follaje es de color verde oscuro, ramificaciones escasas, ramas angulosas, de color negruzco y sus ramitas de color verde ferrosos, son pubescentes y gruesos. Sus flores son amarillas con forma de copa, dialipétalas. De lejos el alcaparro se puede confundir con el chicalá (Tecoma stans). No obstante, este último árbol tiene flores en forma de trompeta, mientras que las del alcaparro son más cortas, con los pétalos separados, además de diferencias en la tonalidad de verde de las hojas y la disposición de las mismas.</p>
                            </div>
                          </div>
                          <div class="card">
                            <img class="card-img-top img-pequena" src="{{url_for ('static',filename='imagenes/escudos/Flora/Tibar.jpg')}}" alt="Tíbar">
                            <div class="card-body">
                              <h5 class="card-title">Tíbar</h5>
                              <p class="card-text">En la región del altiplano cundiboyacense, los ejemplares viejos son árboles espectaculares, no tanto por su altura, que no es mucha, sino por su apariencia antigua, de tronco grueso y ramas retorcidas. La corteza se desprende en tiras largas, en forma muy característica; su color café rojizo muestra un gran contraste con el follaje de color verde claro y las flores blancas.
    
                                Características ecológicas: Longevidad alta, crecimiento lento, baja tolerancia a la sombra en sus etapas juveniles, frutos con semillas muy pequeñas, dispersadas por gravedad y agua, crece en regiones húmedas a semihúmedas, se desarrolla bien en suelos arcillosos y muestra una alta tolerancia a las inundaciones. Las semillas a menudo germinan en micrositios con suelo desnudo o con musgo, a menudo en pequeños barrancos y suelos compactados. Por sus características puede decirse que es una "Pionera longeva". </p>
                            </div>
                          </div>
                        </div>
                        <div class="card-deck">
                          <div class="card">
                            <img class="card-img-top img-pequena" src="{{url_for ('static',filename='imagenes/escudos/Flora/Caucho.jpg')}}" alt="Caucho">
                            <div class="card-body">
                              <h5 class="card-title">Caucho Sabanero</h5>
                              <p class="card-text">Árbol de 20 a 30 m de altura, con tronco macizo irregular, que puede alcanzar hasta 2 m de diámetro. Hojas grandes oblongas a elípticas (8-30 cm de largo x 7-10 cm de ancho); mayores en plantas jóvenes (ocasionalmente de 45 cm de largo) y mucho más pequeñas en ejemplares viejos (típicamente de 10 cm de largo), coriáceas, de haz verde oscuro brillante, más pálido y mate en el envés. Las hojas nuevas se desarrollan envueltas en una vaina (meristemo apical), que va creciendo junto con la hoja hasta que esta se despliega y la vaina cae.
                                Como en otros miembros del género, las flores están en el interior de los falsos frutos (siconos) y son polinizadas por una especie particular de avispa del higo (género Pegoscapus), en una relación de mutualismo. El fruto es un higo pequeño, amarillo verdoso oval, de 1 cm de largo, apenas comestible; con solo una semilla viable.2​d.</p>
                            </div>
                          </div>
                          <div class="card">
                            <img class="card-img-top img-pequena" src="{{url_for ('static',filename='imagenes/escudos/Flora/Corono.jpg')}}" alt="Corono">
                            <div class="card-body">
                              <h5 class="card-title">Corono</h5>
                              <p class="card-text">Es un árbol que se encuentra entre los 2000 y los 3200 m s. n. m. y alcanza los 12 m de altura, en el tronco presenta espinas ramificadas, su copa es globosa y densa.
    
                                Las hojas son simples, alternas, helicoidales, cactáceas, de borde aserrado y presenta estípulas libres. Las flores son pequeñas de color amarillo y dispuestas en cimas. Los frutos son bayas con pocas semillas.
                                
                                El corono crece lentamente durante muchos años, manteniendo la altura de un arbusto. Después de mucho tiempo puede llegar a alcanzar los 12 metros de altura y unos 40 cm de diámetro del tronco. Esta especie presenta individuos con y sin espinas. Cuando estas se encuentran son largas y puntiagudas y se ubican en el tronco y en las ramas.</p>
                            </div>
                          </div>
                          <div class="card">
                            <img class="card-img-top img-pequena" src="{{url_for ('static',filename='imagenes/escudos/Flora/Jazmin.png')}}" alt="Jasminum">
                            <div class="card-body">
                              <h5 class="card-title">Jasminum (Jazmín)</h5>
                             <p class="card-text">Plantas de porte arbustivo o trepador perennifolias, caducifolias o semicaducifolias. Los tallos son cuadrangulares, de color verde o grisáceo, profusamente ramificados. Hojas dispuestas de forma alterna u opuesta; pueden ser trifoliadas o imparipinnadas. Las inflorescencias son racimosas, normalmente surgen de las axilas de las hojas.
    
                              Las flores, comúnmente blancas –si bien hay algunas especies amarillas y rojizas–, son hermafroditas. Tienen un cáliz tubular, con cinco pétalos y dos estambres unidos al tubo de la corola con anteras amarillas. Los frutos son bayas de color negro al madurar con 1 a 4 semillas. La fragancia que exhalan las flores es muy intensa y se percibe como un aroma dulce.</p>
                      </section>  
            <div class="pagina">
            <a href="https://colombia.inaturalist.org/places/boyaca-co" target="_blank"> Conoce mas de nuestra fauna y flora!! </a>     
        </div>
       
    </main>
    <div class="footer">
      <p>&copy; 2024 Mi Página. Todos los derechos reservados.</p>
      <p>
          <a href="https://github.com/settings/profile">Heidy Yohana Saavedra</a> |
          <a href="#">Contacto</a>
      </p>
  </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>