<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for ('static',filename='css/footer.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="footer">
    <p>&copy; 2024 Mi Página. Todos los derechos reservados.</p>
    <p>
        <a href="https://github.com/settings/profile">Heidy Yohana Saavedra</a> |
        <a href="#">Contacto</a>
    </p>
</div>
</body>
</html>