<!DOCTYPE html>

<html >
<head>
    <link rel="stylesheet" href="{{url_for ('static',filename='css/StyleInfo.css')}}">
    <link rel="stylesheet" href="{{url_for ('static',filename='css/style1.css')}}">
    <link rel="stylesheet" href="{{url_for ('static',filename='css/footer.css')}}">


<header class="menu">
    <ul>
        <li><a href="{{url_for ('ir_a_Nabr')}}">Inicio</a></li>
        <li><a href="{{url_for ('ir_a_flora')}}">Flora</a></li>
        <li><a href="{{url_for ('ir_a_fauna')}}">Fauna</a></li>
        <li><a href="{{url_for ('ir_a_protege')}}">Protege</a></li>
        <li><a href="{{url_for ('ir_a_map')}}">Mapas</a></li>
        <li><a href="{{url_for ('ir_a_informacion')}}">Mas Informacion</a></li>
        <li><a href="{{url_for ('ir_a_estadistica')}}">Estadisticas</a></li>
        
    </ul>
</header>
<title class="titulo">Fauna única: cinco animales endémicos de Colombia</title>
<br>
<br>
<div class="field field--name-body field--type-text-with-summary field--label-hidden field__item"><p>Colombia es un país tropical que cuenta con gran variedad de especies de flora y fauna, ecosistemas y biomas. De hecho, ocupa el segundo lugar en biodiversidad y figura dentro de las 17 naciones más megadiversas del mundo.</p>
<p>La ubicación geográfica permite a sus suelos sean el hogar de miles de especies de las cuales, según el Instituto Humboldt, 8.800 son endémicas, es decir solo existen en Colombia. Estas son cinco especies que solo podrás encontrar en el territorio nacional.</p>
<p><strong>1. Tití ornamentado</strong></p>
<p><strong><img alt="Tití ornamentado" data-entity-type="file" data-entity-uuid="5444f671-4308-4dfe-b7d6-fe9256b39136" height="601" loading="lazy" src="https://radionacional-v3.s3.amazonaws.com/s3fs-public/inline-images/Callicebus_ornatus_mg.jpg" width="900"/></strong></p>
<p>También conocido como huicoco de manos blancas o zocay, es un primate que suele medir entre 30 y 40 centímetros, con una cola de 40 a 50 centímetros. Su característico pelaje tupido y esponjoso se diferencia de otras especies de primates por ser de color castaño o rojizo en la mayoría de su cuerpo, con manchas grises y blancas en la espalda y la parte superior de sus brazos, sus manos y pies son blancos.</p>
<p>A pesar de que se desconoce la extensión exacta del hábitat que ocupan las diferente poblaciones de este primate, se calcula que se distribuye aproximadamente desde los alrededores de la cordillera oriental, hasta el rio Guaviare hacia el oriente. Además, el zocay es endémico de un área restringida en los bosques húmedos del occidente del departamento del Meta. Se ha observado que esta especie tiene preferencia por la vegetación ribereña con bosques poco desarrollados, así como las orillas de caños y ríos, incluso se han encontrado habitando en los bosques de galería ubicados en las orillas de las quebradas locales.</p>
<p>Aunque habitan a lo largo de un corredor de al menos 20 mil kilómetros, sus poblaciones se encuentran fragmentadas, de hecho es considerado una especie vulnerable a la extinción debido a la acelerada pérdida de su hábitat por actividades como la deforestación y la presencia de cultivos ilícitos.</p>
<p><strong>2. Colibrí esmeralda del Chiribiquete</strong></p>
<figure class="figure">
<img alt="Foto: ccnix.wordpress" class="figure-img img-fluid" data-entity-type="file" data-entity-uuid="f11e9fe3-a8bb-4718-8c39-bf4a3e9e639e" height="549" loading="lazy" src="https://radionacional-v3.s3.amazonaws.com/s3fs-public/inline-images/chiribiquete-emerald.jpg" width="545"/>
<figcaption class="figure-caption">Foto: ccnix.wordpress</figcaption>
</figure>
<p>Es una de las especies de colibrí más curiosas que habita únicamente en la remota Sierra de Chiribiquete, en la región amazónica colombiana. Fue descrito por primera vez por el ornitólogo Gary Stiles, a partir de un especímen recolectado en expediciones hechas en la serranía entre diciembre de 1990 y agosto de 1991.</p>
<p>Se caracteriza por ser un colibrí de pico corto, recto y grueso que suele medir cerca de 8 centímetros y puede pesar hasta 4 gramos, la diferencia de tamaño entre machos y hembras suele variar ligeramente. Sus plumas tienen un distintivo color verde iridiscente, los costados de su cabeza y su cola suelen ser azules o morados.</p>
<p>A pesar de ser una especie poco estudiada, se conoce que se alimenta de insectos y que absorbe el néctar de las flores de los frondosos bosques de la serranía. Suelen hacer sus nidos con materiales vegetales, donde la hembra pone el huevo y lo incuba por alrededor de 18 días.</p>
<p>Aunque es común que este tipo de especies endémicas estén en peligro de extinción, por fortuna, este no es el caso del colibrí esmeralda, pues habita junto a otras especies dentro de hábitat restringido.</p>
<hr/>
<p><strong>3. El lagarto azul de Gorgona</strong></p>
<figure class="figure">
<img alt="lagarto azul" class="figure-img img-fluid" data-entity-type="file" data-entity-uuid="c40334cd-6307-4076-9c00-4c823716d7e6" height="506" loading="lazy" src="https://radionacional-v3.s3.amazonaws.com/s3fs-public/inline-images/lagarto%20azul%20-%20foto.jpeg" width="900"/>
<figcaption class="figure-caption">Foto vía Facebook: Parque Nacional Natural Gorgona</figcaption>
</figure>
<p>Se trata de un reptil único en el mundo, su llamativo color azul es característico de ambos sexos, aunque los machos suelen tener una mancha blanca en su pecho y un saco gular que usan para cotejar a las hembras. Es una especie endémica de las islas Gorgona, del Pacífico colombiano, lugar donde hubo una cárcel desde 1950 y que fue clausurada en 1984 cuando la isla fue declarada parque nacional con el propósito de proteger las especies únicas que allí habitan, como el lagarto.</p>
<p>Es de tamaño medio, rara vez superan los cinco centímetros de longitud. Sus escamas suelen ser finas respecto a las de otros lagartos latinoamericanos, aunque las escamas de su vientre son ligeramente más gruesas que las de su espalda, esto ayuda a proteger la zona que suele rozar con el suelo debido a su movimiento. Aunque no se sabe con certeza de qué se alimentan, se especula que su dieta se compone de insectos y algunos frutos que encuentran en la diversidad de la selva húmeda tropical en la que habitan.</p>
<p>La anole azul es una especie esquiva y extraña, y por esta razón para los científicos ha sido difícil estudiarla y estimar la población que habita en la isla, lo que sí se sabe es que cada vez se ven menos ejemplares y que ya figura dentro de la lista de animales en peligro de extinción. La caza, la deforestación y el cambio climático que acaban con su hábitat, son algunas de las amenazas de esta especie.</p>
<p><strong>4. Rana de dardo venenosa</strong></p>
<p><strong><img alt="Rana " data-entity-type="file" data-entity-uuid="6a641154-a503-4742-be2f-6e50c3679d0c" height="426" loading="lazy" src="https://radionacional-v3.s3.amazonaws.com/s3fs-public/inline-images/frog-gd94749b2e_640_0.jpg" width="640"/></strong></p>
<p>Conocida por la ciencia como la Phyllobates terriblis, es una especie de rana endémica de la costa pacífica colombiana, que habita las selvas húmedas de los departamentos del Chocó, Cauca y Valle del Cauca. Se conoce como rana dardo porque los indígenas de la región solían untar la toxina de la piel del anfibio en las puntas de los dardos que posteriormente usaban para cazar o defenderse. Su veneno es tan letal y raro que solo se encuentra en tres ranas de Colombia del género Phyllobates, también es conocida como la rana más tóxica del mundo.</p>
<p>Su actividad es mayormente nocturna y es una de las más grandes de su especie, ya que puede alcanzar los cinco centímetros. Aunque su veneno es letal, la rana es inofensiva y suele huir de individuos que supongan una amenaza para ella, además, a diferencia de otras ranas, no son una especie territorial. Pueden alimentarse de insectos pequeños como o son las moscas de fruta o grillos pequeños.                                                                      
</p>
<p><strong>5. Paujil piquiazul</strong></p>
<figure class="figure">
<img alt="Paujil de pico azul" class="figure-img img-fluid" data-entity-type="file" data-entity-uuid="21bb7c57-c77b-423e-b9f5-b01479cc1796" height="500" loading="lazy" src="https://radionacional-v3.s3.amazonaws.com/s3fs-public/inline-images/pareja-de-pauiles-de-pico-azul-silvestres-_web_2.jpg" width="799"/>
<figcaption class="figure-caption">Foto: proaves.org</figcaption>
</figure>
<p>También conocida como pavón o paujil colombiano, es un ave galliforme que mide alrededor de un metro y es una especie endémica del norte de Colombia catalogada en peligro crítico de extinción. Físicamente es muy llamativo y resalta por su cresta crespa de color negro y su pico azul.</p>
<p>Es principalmente frugívoro y suele buscar su alimento picando el suelo, algunos insectos invertebrados y alrededor de 15 tipos de plantas distintas componen su dieta, esta característica hace que entre dentro de las especies dispersoras de semillas que ayudan a regenerar los terrenos degradados.</p>
<p>Habita selvas húmedas y los valles cubiertos de selvas entre colinas muy bajas, por lo que se le ha visto desde las laderas de la Sierra Nevada de Santa Marta, el occidente del río Sinú y al sur hasta el valle medio del Magdalena al norte del departamento del Tolima. El paujil requiere de grandes áreas de bosques tropicales para vivir y es muy sensible al cambio climático, por lo que su presencia o ausencia se ha convertido en un indicador del estado de conservación de los ecosistemas en los que habita, los cuales con los años se han reducido por la expansión de la frontera agrícola y la construcción de carreteras. Estos factores, sumados a la cacería y la extracción de huevos para el consumo son las principales razones que ponen en riesgo la especie.</p>

</div>
<div class="footer"></div>
    <p>&copy; 2024 Mi Página. Todos los derechos reservados.</p>
    <p>
        <a href="https://github.com/settings/profile">Heidy Yohana Saavedra</a> |
      
        <a href="#">Contacto</a>
    </p>
</div>
